<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Find help on how to contact your supplier liason.
  <a href="http://furmex.com">Furukawa Mexico</a>.
  Contacting American Furukawa
  <a href="http://americanfurukawa.com">American Furukawa</a>.
</p>