
<div class="center hero-unit">
<h1>Suppliers Portal</h1>
<h2>This is the homepage for the Supplier Quality Manual</h2>
<p>
Dear supplier. Welcome to the Supplier Portal. Main communication venue for supplier quality concerns.

 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("furmex.png", alt: "Furmex"), 'http://www.furmex.com/' %>

