<footer class="footer">
  <small>
    <a href="http://furmex.com/">Furukawa Mexico</a>
    by Alejandro Diaz
  </small>
  <nav>
    <ul>
      <li><%= link_to "Supplier Quality Requirements",   sqr_path %></li>
      <li><%= link_to "Contact", contact_path %></li> 
      <li><a href="http://furmex.com/">News</a></li>
    </ul>
  </nav>
</footer>